@media(max-width:900px) {
  .main1s{
    flex-direction: column;
    width:90%;
  }
  .main1{
    margin-top: 50px;
    width:100%;
  }
  .left{
    margin-top: 0;
  }

  .main2s{
    flex-direction: column;
    align-items: center;
    width:50%;
  }
  .main2{
    margin-top: 30px;
    width:100%;
  }

}


@media(max-width:767px) {
  .wrap{
    margin-top: 60px;
  }
  .wrap-header{
    margin-top: 0;
  }
  .header{
    border-radius:0;
    height: 250px;
    font-size: 25px;
    width:100%;
  }
  .header::before{
    border-radius:0;
  }
  .wrap-main2{
    width:90%;
    margin: 60px auto;
  }
  .main1s{
    width:90%;
  }
  .main2s{
    width:70%;
  }
  .pro-img{
    height: 200px;
    width: 90%;
  }
  .pro-ttl{
    width: 90%;
  }
  .pro{
    width: 90%;
  }
  .contact{
    width:300px;
  }
}

@media (max-width:530px) {
  .main2-ttl h2{
    font-size: 25px;
  }
}
