
@media(max-width:900px) {
  .left{
    margin-top: 0;
  }

  .main2s{
    flex-direction: column;
    align-items: center;
    width:50%;
  }
  .main2{
    margin-top: 30px;
    width:100%;
  }
}
@media (max-width:820px) {
  .abouts{
    height: 750px;
  }
  .about-ttl h2{
    font-size: 30px;
  }
  .profile h3{
    font-size: 25px;
  }
  .profile p{
    font-size: 18px;
  }
  .about-ttl p{
    font-size: 20px;
  }
  .about{
    flex-direction: column;
    align-items: center;
  }
  .profile,.about-img{
    width:100%;
  }
}

@media(max-width:767px) {
  .wrap-header{
    margin-top: 0;
  }
  .wrap-main2{
    width:90%;
    margin: 60px auto;
  }
  .main2s{
    width:85%;
  }
  .pro-img{
    height: 200px;
    width: 90%;
  }
  .pro-ttl{
    width: 90%;
  }
  .pro{
    width: 90%;
  }
  .contact{
    width:300px;
  }
  .wrap-main1{
    margin-top: 40px;
  }
  .main1-icons{
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .main1-icon{
    margin-top: 30px;
    width:100%;
  }
}

@media (max-width:700px) {
  .header-des h2{
    font-size: 40px;
  }
  .header-des p{
    font-size: 25px;
  }
  .about-ttl h2{
    font-size: 25px;
  }
}

@media (max-width:530px) {
  .main2-ttl h2{
    font-size: 28px;
  }
  .header-des h2{
    font-size: 30px;
  }
  .header-des p{
    font-size: 20px;
  }
  .about-ttl h2{
    font-size: 20px;
  }
  .about-ttl p{
    font-size: 16px;
  }
  .profile h2{
    font-size: 20px;
  }
  .profile p{
    font-size: 16px;
  }
  .main1-ttl h2{
    font-size: 20px;
  }
}
@media (max-width:449px) {
  .main2-ttl h2{
    font-size: 25px;
  }
  .main2-ttl p{
    font-size: 18px;
  }
  .abouts{
    height: 1000px;
  }
  .header{
    height: 400px;
  }
  .abouts{
    height: 750px;
  }
}
@media (max-width:374px) {
  .header-des h2{
    font-size: 20px;
  }
  .header-des p{
    font-size: 14px;
  }
  .main1{
    width:90%;
  }
  .main1-ttl{
    font-size: 18px;
  }

  .main2-ttl h2{
    font-size: 20px;
  }
  .main2-ttl p{
    font-size: 16px;
  }
  .main2 p{
    font-size: 16px;
  }
  .pro p{
    font-size: 16px;
  }
  .book-btn{
    font-size: 12px;
    padding: 7px 25px;
  }
}
