*{
  box-sizing: border-box;
}

body{
 margin: 0;
 background-color:white;
}

p, h2, h3{
font-family: 'Sawarabi Mincho', sans-serif;
}

.wrap-header1{
  width:100%;
}
.header1{
  display: flex;
  justify-content: center;
}
.header1 h3{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color:rgba(0,17,28,0.8);
}

.wrap-header{
  display: flex;
  justify-content: center;
}
 .header{
   display: flex;
   justify-content: center;
   align-items: center;
   width:100%;
   background-image: url('header.jpg');
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   color:white;
   text-align: center;
 }
 .header::before{
   background-color: rgba(0,0,0,0.2);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content: ' ';
}
  .header-des{
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .header-des h2{
    font-size: 50px;
    font-weight: 200;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    margin: auto;
    border-bottom: 2px solid white;
  }
  .header p{
    margin-top: 15px;
    font-size: 30px;
  }
  .book{
    margin-top: 30px;
  }
  .book-btn{
    background-color: rgba(255,25,83,1);
    border-radius: 3px;
    text-decoration: none;
    color:white;
    padding: 10px 40px;
  }


  .wrap-about{
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  .abouts{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size:20px;
    background-image: url('about.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color:white;
    text-align: center;
    margin-top: 0;
  }
  .abouts::before{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
 }
 .about-pro{
   height: 100%;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .about-ttl{
   height: 40%;
   width:80%;
   text-align: center;
 }
 .about-ttl h2{
   font-size: 40px;
   margin-top: 40px;
   margin-bottom: 40px;
 }
 .about-ttl p{
   font-size: 20px;
 }
 .about{
   width:80%;
   height: 60%;
   display: flex;
 }
 .profile{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width:50%;
 }
 .profile h3{
   font-size: 35px;
 }
 .about-img{
   width:50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .img{
   width:200px;
   height:200px;
   border-radius: 50%;
   border:5px solid white;
   background-color: red;
 }


.wrap-main1{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.main1{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main1-ttl h2{
  text-align: center;
  font-size: 24px;
}
.main1-icons{
  margin-top: 150px;
  display: flex;
  width:100%;
  text-align: center;
}
.main1-icon{
  width:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main1-icon h3{
  font-size: 22px;
}
.main1-icon i{
  margin-top: 20px;
  font-size: 80px;
}

.wrap-main2{
  padding-bottom: 40px;
  border:1px solid red;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color :rgba(0,17,28,0.8);
  background-image: url('main2.jpg');
  background-size: cover;
}
 .main2-ttl{
   text-align: center;
   margin-bottom: 30px;
 }
  .main2-ttl h2{
    color:white;
    font-size: 30px;
    display: inline-block;
  }
  .ttl{
    padding-bottom: 10px;
  }
  .main2-ttl p{
    color:white;
    font-size:20px ;
  }
 .main2s{
   margin: 0 auto;
   width:80%;
   display: flex;
   margin-bottom: 50px;
 }
  .main2{
    margin:0 10px;
    text-align: center;
    width:33.3333%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
   .main2 h3{
     font-family: 'Ubuntu', sans-serif;
     padding: 0;
     display: inline-block;
   }
.cook{
  width:100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-image: url('beach.jpg');
}
.bbq{
  width:100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-image: url('beach.jpg');
}
.local{
  width:100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-image: url('beach.jpg');
}
.str{
  color:rgba(255,25,83,1);
  font-weight: 800;
  font-size: 20px;
}

.wrap-pro{
  display: flex;
  flex-direction: column;
  color:rgba(0,17,28,0.8);
}
 .pro-ttl{
   width:80%;
   margin: 0 auto;
   font-size: 28px;
 }
 .pro-ttl h2{
   display: inline-block;
   font-family: 'Ubuntu', sans-serif;
 }
 .pro{
   width:80%;
   margin: 0 auto;
   font-size: 18px;
 }
 .pro-img{
   margin: 0 auto;
   width:100%;
   height: 500px;
   background-color: skyblue;
 }

.wrap-contact{
  color:rgba(0,17,28,0.8);
  font-size: 28px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
 .contact-ttl{
   width:40%;
   margin: 0 auto;
   text-align: center;
   display: flex;
   justify-content: center;
 }
  .contact-ttl h2{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
  }
 .contacts{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
 }
  .contact{
    width:500px;
    margin: 30px 0;
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    font-size: 18px;
    padding-left: 10px;
  }
  .input{
    height: 50px;
  }
  .send{
    background-color:rgba(0,153,255,1);
    border-radius:30px;
    text-align: center;
    color:white;
  }

.wrap-footer{
  background-color:rgba(40,43,43,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.facebook{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width:60px;
  border-radius: 50%;
  background-color: rgba(67,82,82,0.8);
  margin-right: 25px;
}
.facebook i{
  font-size: 30px;
  color:white;
}
.insta{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width:60px;
  border-radius: 50%;
  background-color: rgba(67,82,82,0.8);
}
.insta i{
  font-size: 30px;
  color:white;
}
 .sns{
   display: flex;
   justify-content: center;
   width:100%;
   height: 100px;
 }
 .copyright p{
   color:rgba(174,187,189,1);
   text-align: center;
   font-size: 12px;
 }
