*{
  box-sizing: border-box;
}

body{
 margin: 0;
 background-color:white;
}

p, h2, h3{
font-family: 'Sawarabi Mincho', sans-serif;
}

.wrap-header{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
 .header{
   height:500px;
   display: flex;
   justify-content: center;
   align-items: center;
   width:90%;
   font-size:45px;
   background-image: url('img/header.jpg');
   border-radius: 10px;
   background-position: center;
   background-size: cover;
   position: relative;
   color:white;
   text-align: center;
 }
 .header::before{
   border-radius: 10px;
   background-color: rgba(0,0,0,0.2);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content: ' ';
}
  .header h2{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    font-weight: 200;
    margin: auto;
  }

.wrap-main1{
  margin-top:100px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
 .main1s{
   height:auto;
   width:80%;
   display: flex;
   justify-content: space-between;
 }
  .main1{
    border-radius: 10px;
    height: auto;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
    box-shadow:5px 5px 10px gray;
    transition: 0.8s;
  }
  .left{
    background-image: url('img/main1-l.JPG');
    background-size: cover;
    position: relative;
    background-position: center;
  }
  .left::before{
    border-radius: 10px;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
  .right{
    background-image: url('img/main1-r.JPG');
    background-size: cover;
    position: relative;
    background-position: center;
  }
  .right::before{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
   .main1 h3{
     font-size: 32px;
     z-index: 10;
   }
   .main1 p{
     margin: 10px auto;
     font-size: 18px;
     width:80%;
     z-index: 10;
   }

.wrap-main2{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color :rgba(0,17,28,0.8);
}
 .main2-ttl{
   text-align: center;
   margin-bottom: 30px;
 }
  .main2-ttl h2{
    font-size: 28px;
    display: inline-block;
  }
  .ttl{
    padding-bottom: 10px;
    position: relative;
  }
  .ttl::before,
  .ttl::after {
    border-bottom: solid 2px rgba(0,17,28,0.8);
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
  }
  .ttl::before {
    left: 50%;
  }
  .ttl::after {
    right: 50%;
  }
  .ttl:hover::before,
  .ttl:hover::after {
    width: 50%;
  }
  .main2:hover > ::before,
  .main2:hover > ::after {
    width: 50%;
  }
  .main2-ttl p{
    font-size:20px ;
  }
 .main2s{
   margin: 0 auto;
   width:80%;
   display: flex;
 }
  .main2{
    padding: 10px;
    margin:0 10px;
    text-align: center;
    width:33.3333%;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
  }
   .main2 h3{
     font-family: 'Ubuntu', sans-serif;
     padding: 0;
     display: inline-block;
   }
i{
  color:rgba(255,134,69,1);
  font-size: 120px;
}

.wrap-pro{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color:rgba(0,17,28,0.8);
}
 .pro-ttl{
   width:80%;
   margin: 0 auto;
   font-size: 28px;
 }
 .pro-ttl h2{
   display: inline-block;
   font-family: 'Ubuntu', sans-serif;
 }
 .pro{
   width:80%;
   margin: 0 auto;
   font-size: 18px;
 }
 .pro-img{
   margin: 0 auto;
   width:80%;
   height: 400px;
   background-color: skyblue;
 }

.wrap-contact{
  background-color:rgba(214,71,78,0.1);
  color:rgba(0,17,28,0.8);
  font-size: 28px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
 .contact-ttl{
   width:40%;
   margin: 0 auto;
   text-align: center;
   display: flex;
   justify-content: center;
 }
  .contact-ttl h2{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
  }
 .contacts{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
 }
  .contact{
    width:500px;
    margin: 30px 0;
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    font-size: 18px;
    padding-left: 10px;
  }
  .input{
    height: 50px;
  }
  .send{
    background-color:rgba(0,153,255,1);
    border-radius:30px;
    text-align: center;
    color:white;
  }

.wrap-footer{
  height:200px;
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
}
 .sns{
   height: 100px;
 }
 .copyright p{
   text-align: center;
   font-size: 12px;
 }
